*.m4
*.lo
*.o
*.la
.deps
.libs
.DS_Store
*.obj
*.pdb
*.idb
*.suo
*.ncb
*.user

project.xcworkspace/
xcuserdata/

/build-mac/autogen-result.md5
/build-mac/build
/build-mac/include
/build-mac/dependencies/build/
/build-mac/libsasl-ios/
/build-mac/update.log
/config.guess
/config.h.in
/config.sub
/ltmain.sh

/Makefile
/Makefile.in
/autom4te.cache/
/compile
/config.h
/config.log
/config.status
/configure
/depcomp
/doc/Makefile
/doc/Makefile.in
/include/Makefile
/include/Makefile.in
/include/libetpan/
/install-sh
/libetpan-config
/libetpan-config.h
/libtool
/missing
/src/Makefile
/src/Makefile.in
/src/bsd/Makefile
/src/bsd/Makefile.in
/src/data-types/Makefile
/src/data-types/Makefile.in
/src/driver/Makefile
/src/driver/Makefile.in
/src/driver/implementation/Makefile
/src/driver/implementation/Makefile.in
/src/driver/implementation/data-message/Makefile
/src/driver/implementation/data-message/Makefile.in
/src/driver/implementation/db/Makefile
/src/driver/implementation/db/Makefile.in
/src/driver/implementation/feed/Makefile
/src/driver/implementation/feed/Makefile.in
/src/driver/implementation/hotmail/Makefile
/src/driver/implementation/hotmail/Makefile.in
/src/driver/implementation/imap/Makefile
/src/driver/implementation/imap/Makefile.in
/src/driver/implementation/maildir/Makefile
/src/driver/implementation/maildir/Makefile.in
/src/driver/implementation/mbox/Makefile
/src/driver/implementation/mbox/Makefile.in
/src/driver/implementation/mh/Makefile
/src/driver/implementation/mh/Makefile.in
/src/driver/implementation/mime-message/Makefile
/src/driver/implementation/mime-message/Makefile.in
/src/driver/implementation/nntp/Makefile
/src/driver/implementation/nntp/Makefile.in
/src/driver/implementation/pop3/Makefile
/src/driver/implementation/pop3/Makefile.in
/src/driver/interface/Makefile
/src/driver/interface/Makefile.in
/src/driver/tools/Makefile
/src/driver/tools/Makefile.in
/src/engine/Makefile
/src/engine/Makefile.in
/src/low-level/Makefile
/src/low-level/Makefile.in
/src/low-level/feed/Makefile
/src/low-level/feed/Makefile.in
/src/low-level/imap/Makefile
/src/low-level/imap/Makefile.in
/src/low-level/imf/Makefile
/src/low-level/imf/Makefile.in
/src/low-level/maildir/Makefile
/src/low-level/maildir/Makefile.in
/src/low-level/mbox/Makefile
/src/low-level/mbox/Makefile.in
/src/low-level/mh/Makefile
/src/low-level/mh/Makefile.in
/src/low-level/mime/Makefile
/src/low-level/mime/Makefile.in
/src/low-level/nntp/Makefile
/src/low-level/nntp/Makefile.in
/src/low-level/pop3/Makefile
/src/low-level/pop3/Makefile.in
/src/low-level/smtp/Makefile
/src/low-level/smtp/Makefile.in
/src/main/Makefile
/src/main/Makefile.in
/src/main/libetpan_version.h
/src/versioninfo.rc
/src/windows/Makefile
/src/windows/Makefile.in
/stamp-h1
/stamp-prepare
/tests/Makefile
/tests/Makefile.in
/tests/compose-msg
/tests/decrypt
/tests/fetch-attachment
/tests/frm
/tests/frm-simple
/tests/frm-tree
/tests/pgp
/tests/readmsg
/tests/readmsg-simple
/tests/readmsg-uid
/tests/smime
/tests/smtpsend
/tests/imap-sample
/tests/mime-create
/tests/mime-parse
/tests/pop-sample

# Windows
third-party
/build-windows/_headers_depends
/build-windows/Makefile
/build-windows/Makefile.in
/build-windows/include/libetpan
/build-windows/libetpan/x64/Debug
/build-windows/libetpan/x64/Release
/build-windows/libetpan/Debug
/build-windows/libetpan/Release
/build-windows/readmsg/x64/Debug
/build-windows/readmsg/x64/Release
/build-windows/readmsg/Debug
/build-windows/readmsg/Release
/build-windows/smtpsend/x64/Debug
/build-windows/smtpsend/x64/Release
/build-windows/smtpsend/Debug
/build-windows/smtpsend/Release
/build-windows/*.sdf
/build-windows/*.opensdf
*.vcxproj.user
/build-windows/Debug
/build-windows/Release
/build-windows/x64/Debug
/build-windows/x64/Release
/build-windows/libetpan.VC.db
/.vs
/build-windows/.vs/libetpan/v15

.idea/
libetpan.pc