[submodule "build-mac/dependencies/submodules/jansson"]
	path = build-mac/dependencies/submodules/jansson
	url = https://github.com/akheron/jansson.git
[submodule "build-mac/dependencies/submodules/cyrus-sasl"]
	path = build-mac/dependencies/submodules/cyrus-sasl
	url = https://github.com/cyrusimap/cyrus-sasl.git
[submodule "build-mac/dependencies/submodules/openssl"]
	path = build-mac/dependencies/submodules/openssl
	url = https://github.com/openssl/openssl.git
[submodule "build-mac/dependencies/submodules/rnp"]
	path = build-mac/dependencies/submodules/rnp
	url = https://github.com/rnpgp/rnp.git
[submodule "build-mac/dependencies/submodules/json-c"]
	path = build-mac/dependencies/submodules/json-c
	url = https://github.com/json-c/json-c.git
[submodule "build-mac/dependencies/submodules/tidy-html5"]
	path = build-mac/dependencies/submodules/tidy-html5
	url = https://github.com/htacg/tidy-html5.git
