GCC_C_LANGUAGE_STANDARD = c99
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) HAVE_CFNETWORK=1 HAVE_CONFIG_H=1 HAVE_OPENSSL=1
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNUSED_VARIABLE = YES
HEADER_SEARCH_PATHS = $(SRCROOT)/../build-spm/config $(SRCROOT)/.. $(SRCROOT)/include $(SRCROOT)/../build-spm/include

GCC_OPTIMIZATION_LEVEL[config=Debug] = 0
ONLY_ACTIVE_ARCH[config=Debug] = YES
