ALWAYS_SEARCH_USER_PATHS = NO
ENABLE_BITCODE = YES
GCC_MODEL_TUNING = G5
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) HAVE_JMAP=1 HAVE_COREFOUNDATION_CHARCONV=1 USE_SMIME_OPENSSL=1
INSTALL_PATH = /usr/local/lib
IPHONEOS_DEPLOYMENT_TARGET = 15.6
PRODUCT_NAME = etpan-ios
SDKROOT = iphoneos
SKIP_INSTALL = YES

COPY_PHASE_STRIP[config=Debug] = NO
GCC_DYNAMIC_NO_PIC[config=Debug] = NO
GCC_OPTIMIZATION_LEVEL[config=Debug] = 0

COPY_PHASE_STRIP[config=Release] = YES
DEBUG_INFORMATION_FORMAT[config=Release] = dwarf-with-dsym
ZERO_LINK[config=Release] = NO
