dependencies/cyrus-sasl/cyrus-sasl-android-*.zip
dependencies/cyrus-sasl/build-android/obj
dependencies/curl/build
dependencies/curl/curl-android-*.zip
dependencies/json-c/build
dependencies/json-c/json-c-android-*.zip
dependencies/libxml2/build
dependencies/libxml2/libxml2-android-*.zip
dependencies/openssl/openssl-android-*.zip
dependencies/openssl/packages
dependencies/rnp/build
dependencies/rnp/rnp-android-*.zip
include/libetpan
third-parties
obj
libetpan-android-*.zip
